SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNscGRxbmN5ZWJqZnJteWdjZWFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyNjg1OTQsImV4cCI6MjA5Mzg0NDU5NH0.yt--tlbKhdxDnKvW_MULOEfSLHYMbHbmtLfCDEaxAc0"
SUPABASE_URL="https://clpdqncyebjfrmygceai.supabase.co"
VITE_SUPABASE_PROJECT_ID="clpdqncyebjfrmygceai"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNscGRxbmN5ZWJqZnJteWdjZWFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyNjg1OTQsImV4cCI6MjA5Mzg0NDU5NH0.yt--tlbKhdxDnKvW_MULOEfSLHYMbHbmtLfCDEaxAc0"
VITE_SUPABASE_URL="https://clpdqncyebjfrmygceai.supabase.co"
